<div class="card">
  <div class="card-header">
    <h2>Add a Post</h2>
  </div>
  <form id="post-form" class="card-body">
    <div>
      <label for="title-input-login">Title</label>
      <input type="text" id="title-input-login" />
    </div>
    <div>
      <label for="body-input-login" class="form-label">Body</label>
      <input type="body" id="body-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Submit</button>
  </form>
</div>

<script src="/javascript/Post.js"></script>